on: pull_request_review
name: Add milestone when approved
jobs:
    milestoneWhenApproved:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: ./
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  automations: assign-milestone
